<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IELTS Speaking Tool</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header style="text-align: center;">
      <h1>IELTS Speaking Tool</h1>
      <div class="mode-selection">
        <button id="practiceMode" class="mode-btn active">Practice Mode</button>
        <button id="testMode" class="mode-btn">Test Mode</button>
      </div>
    </header>
    <main>
      <div id="part1">
        <h2>Part 1</h2>
        <div class="block question-block">
          <div id="question" style="font-size: 2em; margin-bottom: 20px;"></div>
        </div>
        <div class="block control-block">
          <button id="button">Start Listening</button>
          <button id="evaluate" class="hidden">Evaluate</button>
          <button id="next" class="hidden">Next</button>
          <button id="finish" class="hidden">Finish</button>
        </div>
        <div class="block result-block">
          <h2>Your Speech:</h2>
          <div id="result"></div>
        </div>
        <div class="block evaluation-block">
          <h2>Evaluation:</h2>
          <div id="evaluation"></div>
        </div>
      </div>
    </main>
    <footer></footer>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>    
  </body>
</html>
